html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  background-color: rgba(63, 63, 63, 0.75);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans';
  transition: background-color 0.25s ease;
}
body:hover, body.noHoverEffect {
  background-color: rgba(63, 63, 63, 0.95);
}

body.opaque {
  background-color: rgb(63, 63, 63);
}

/* TITLE BAR */
.title {
  position: absolute;
  z-index: 10;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  width: 100%;
  left: 0;
  top: 0;
  height: 1.5em;
  background-color: #3f3f3f;
  overflow: hidden;
}
h1 {
  line-height: 1.875;
  font-size: 0.8em;
  text-align: center;
  margin: 0;
  font-weight: 300;
  color: white;
  opacity: 0.75;
  transition: 0.25s ease;
}
.title .button {
  position: absolute;
  margin: 4px;
  padding: 1px;
  border-radius: 100%;
  top: 0;
  z-index: 2;
  -webkit-app-region: no-drag;
  transition: transform 0.5s ease;
}
.title .button.left {
  left: 0;
}
.title .button.right {
  right: 0;
}
#settingsButton:hover {
  background: #0277BD;
}
.settings #settingsButton {
  transform: rotate(180deg);
}
#closeButton:hover {
  background: #B71C1C;
}
#closeButton:after {
  content: 'Click to hide or hold down to fully quit clipd';
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.6em;
  padding: 4px;
  position: absolute;
  left: 100%;
  width: 200px;
  transition: 0.25s ease;
  top: -2px;
  transform: translateY(20px);
  pointer-events: none;
}
.settings #closeButton:after {
  content: 'Click to close settings';
}
#closeButton.down:after {
  content: 'Keep holding to quit or drag away to cancel';
}
#closeButton:hover:after {
  transform: none;
}
@media (max-width: 500px) {
  .title .button:hover + h1 {
    opacity: 0;
  }
}
#closeButton:before {
  content: '';
  background-color: #B71C1C;
  width: 100%;
  height: 100%;
  left: 0;
  top :0;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  transform: scale(0);
  transition: none;
}
#closeButton.down:before {
  transition: 1s cubic-bezier(0.25, 0, 1, 1);
  transform: scale(25); /* 25 * 8 = 200 */
}
@media (min-width: 200px) {
  #closeButton.down:before {
    transform: scale(50); /* 50 * 8 = 400 */
  }
}
@media (min-width: 400px) {
  #closeButton.down:before {
    transition-timing-function: cubic-bezier(0.5, 0, 1, 1);
    transform: scale(75); /* 75 * 8 = 600 */
  }
}
@media (min-width: 600px) {
  #closeButton.down:before {
    transform: scale(100); /* 100 * 8 = 800 */
  }
}
@media (min-width: 800px) {
  #closeButton.down:before {
    transition-timing-function: cubic-bezier(0.75, 0, 1, 0.75);
    transform: scale(125); /* 125 * 8 = 1000 */
  }
}
@media (min-width: 1000px) {
  #closeButton.down:before {
    transform: scale(175); /* 125 * 8 = 1400 */
  }
}
@media (min-width: 1400px) {
  #closeButton.down:before {
    transition-timing-function: cubic-bezier(0.8, 0, 1, 0.5);
    transform: scale(225); /* 225 * 8 = 1800 */
  }
}
@media (min-width: 1600px) {
  #closeButton.down:before {
    transition-timing-function: cubic-bezier(0.8, 0, 1, 0.2);
    transform: scale(300); /* 300 * 8 = 2400 */
                           /* your screen had BETTER NOT be any bigger */
  }
}

.title .button i {
  font-size: 14px;
  display: block;
}


/* CONTENT */

.content {
  position: absolute;
  width: 100%;
  height: calc(100% - 1.5em);
  left: 0;
  top: 1.5em;
  opacity: 0.65;
  color: white;
  transition: opacity 0.25s ease;
}
body:hover .content, body.noHoverEffect .content {
  opacity: 0.9;
}
body.opaque .content {
  opacity: 1;
}
.content > div {
  position: absolute;
  width: calc(50% - 2em);
  height: calc(100% - 2em);
  top: 1em;
  padding: 0 1em;
}
.listarea {
  left: 0;
  border-right: 1px solid rgba(255, 255, 255, .23);
}
.details {
  right: 0;
}
.opaque .content > div {
  height: calc(100% - 1.25em);
  top: 0.25em;
}

.listarea ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  background: rgba(0,0,0,0.05);
  box-shadow: 0 0 16px -3px rgba(0,0,0,0.2) inset;
  overflow: auto;
}

.listarea .empty-message {
  text-align: center;
  margin-top: calc(0.5 * (100vh - 3em) - 0.5em);
  font-size: 1.5em;
  font-weight: 200;
  color: rgba(255, 255, 255, .23);
  -webkit-user-select: none;
}
.listarea a {
  text-decoration: none;
}
.listarea a + .empty-message {
  display: none;
}
.listarea li {
  display: block;
  color: white;
  padding: 0.5em;
  position: relative;
}

.description {
  font-size: 0.6em;
  opacity: 0.7;
  font-style: italic;
  text-transform: uppercase;
}
.description .switcher {
  font-style: italic;
  text-transform: uppercase;
}
.switcher {
  border: none;
  background: none;
  color: white;
  font-family: 'Open Sans';
  font-size: 1em;
  padding: 2px;
  margin: -2px;
  border-radius: 2px;
  text-decoration: underline;
  transition: box-shadow 0.25s ease;
  cursor: pointer;
  -webkit-appearance: none;
}
.switcher:hover, .switcher:focus {
  box-shadow: 0 0 2px rgba(0,0,0,1);
  outline: none;
}
.switcher:active {
  transition-duration: 0.1s;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  outline: none;
}
[data-mode] {
  display: none;
}
[data-activemode="chars"] [data-mode="chars"] {
  display: inline;
}
[data-activemode="bytes"] [data-mode="bytes"] {
  display: inline;
}
[data-activemode="words"] [data-mode="words"] {
  display: inline;
}
[data-activemode="lines"] [data-mode="lines"] {
  display: inline;
}

li h2 {
  font-weight: 400;
  font-size: 1em;
  margin: 0.2em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
li pre {
  font-size: 0.75em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0;
  font-family: 'Monaco', monospace;
  opacity: 0.8;
  line-height: 1.25;
  max-height: 3.75em;
  overflow: hidden;
}

li .controls {
  position: absolute;
  right: 0;
  top: 0;
}
.controls button {
  border: 0;
  margin: 0;
  display: inline-block;
  background: none;
  float: right;
  opacity: 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/sprites-24.png);
  transform: scale(0.667);
  transition: 0.15s ease;
  cursor: pointer;
}
li:hover .controls button, a:focus > li .controls button {
  opacity: 0.25;
}
li.pinned .controls button[data-icon="pin"] {
  opacity: 1;
}
li.pinned .controls button[data-icon="pin"]:hover, li.pinned .controls button[data-icon="pin"]:focus {
  opacity: 0.75;
}
button[data-icon="pin"] {
  background-position: -24px -24px;
}
button[data-icon="copy"] {
  background-position: -24px 0;
}
button[data-icon="delete"] {
  background-position: 0 -24px;
}
li .controls button[data-icon]:hover, li .controls button[data-icon]:focus {
  opacity: 0.5;
  outline: none;
}

/* DETAILS */
.details h2 {
  margin: -4px -4px 0.25em;
  cursor: text;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 3px;
  transition: 0.25s ease;
  padding: 4px;
}
.details h2:focus {
  background: #4C4C4C;
  box-shadow: 0 2px 3px -2px rgba(0,0,0,0.5);
  overflow: auto;
  text-overflow: clip;
  outline: none;
}
.details .description {
  white-space: nowrap;
}
/* comment */
.details pre {
  border-radius: 4px;
  background: rgba(0,0,0,0.05);
  box-shadow: 0 0 16px -3px rgba(0,0,0,0.2) inset;
  max-height: calc(100% - 5.15em);
  padding: 4px;
  box-sizing: border-box;
  overflow: auto;
  margin: 0.5em 0;
  white-space: pre;
  font-family: 'Monaco';
  line-height: 1.15;
}
.code-light .details pre {
  background: rgba(255, 255, 255, 0.95);
  color: black;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.56) inset;
}
.code-wrap .details pre {
  white-space: pre-wrap;
  word-break: break-word;
}
.share {
  font-size: 0.75em;
  opacity: 0.9;
}
.details code {
  font-family: inherit;
  font-size: 0.75em;
}

/* SETTINGS */
.settingsPanel {
  position: absolute;
  width: 100%;
  height: calc(100% - 1.5em);
  left: 0;
  top: 1.5em;
  background-color: #3f3f3f;
  color: white;
  transform: translateY(-100%);
  transition: 0.5s transform ease;
  box-sizing: border-box;
  padding: 0.5em calc(50% - 200px);
  overflow: auto;
  -webkit-user-select: none;
  font-size: 0.9em;
}
.settings .settingsPanel {
  transform: none;
}
.settingsPanel label {
  display: block;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  padding: 4px;
}
.settingsPanel input[type="checkbox"] {
  -webkit-appearance: none;
  display: inline-block;
  font-size: 1em;
  width: 1em;
  height: 1em;
  margin: 6px;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #BBBBBB;
  padding: 0;
  float: right;
}
.settingsPanel input:focus, .settingsPanel select:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #0277BD;
}
.settingsPanel input[type="checkbox"]:checked {
  border: 3px solid #BBBBBB;
  background-color: #0277BD;
}
.settingsPanel input[type="number"], .settingsPanel input[type="text"], .settingsPanel select {
  -webkit-appearance: none;
  display: inline-block;
  font-size: 1em;
  height: 1.5em;
  font-family: 'Open Sans';
  margin: 3px;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #BBBBBB;
  padding-left: 3px;
  float: right;
}
.settingsPanel input[type="number"] {
  width: 3em;
}
.settingsPanel input[type="text"] {
  width: 15em;
}
.settingsPanel select {
  width: 10em;
}
.settingsPanel .help {
  font-size: 0.8em;
  padding: 3px;
  margin-bottom: 0.625em;
  font-weight: 300;
}
.settingsPanel hr {
  border-style: solid;
  border-top-width: 0;
  opacity: 0.5;
}
hr[data-label] {
  margin: 1.5em 0;
  position: relative;
  font-size: 0.8em;
}
hr[data-label]:before {
  content: attr(data-label);
  position: absolute;
  top: -.75em;
  left: 2px;
  text-shadow:  1px  1px 0 #3F3F3F,
               -1px  1px 0 #3F3F3F,
               -1px -1px 0 #3F3F3F,
                1px -1px 0 #3F3F3F,
                0px  2px 0 #3F3F3F,
               -2px  0px 0 #3F3F3F,
                0px -2px 0 #3F3F3F,
                2px  0px 0 #3F3F3F;
}
.settingsPanel button {
  display: block;
  background-color: #0277BD;
  font-family: 'Open Sans';
  color: white;
  font-size: 1em;
  width: 100%;
  border-radius: 2px;
  border: 2px solid #0277BD;
  margin-bottom: 0.5em;
}
.settingsPanel button.danger {
  background-color: #B71C1C;
  border: 2px solid #B71C1C;
}
.settingsPanel button:focus {
  outline: none;
  border: 2px solid white;
}
.settingsPanel .error {
  font-size: 0.8em;
  background-color: #B71C1C;
  border-radius: 2px;
  padding: 6px;
  position: fixed;
  width: 388px;
  z-index: 10;
  top: 24px;
}
.settingsPanel .error.spacer {
  position: static;
  opacity: 0;
}

#launchAtLoginOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
}
.launch-at-login #launchAtLoginOverlay {
  display: block;
  opacity: 1;
}
#launchAtLoginOverlay p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}